<head>
    <style media="screen" type="text/css">
    form {
        display: inline-block; //Or display: inline; 
    }
    </style>
</head>
{% if playlist %}
    <ul>
    {% for song in playlist %}
        {% ifequal current_song_pos song.pos %}
            <p style="color:red">vvvvvvvvvvvvvvvvvvvvv</p>
        {% endifequal %}
        <li>{{ song.pos }} {{ song.file }} {{ song.time }}
        {% if song.origin_url %}
            <a href="http://{{ song.origin_url }}">Origin</a>
        {% endif %}
        <form action="{% url 'control' %}" method="post">
            {% csrf_token %}
            <button name="jump" value="{{ song.pos }}">Play this NOW!!!</button>
        </form>
        <form action="{% url 'control' %}" method="post">
            {% csrf_token %}
            <button name="remove" value="{{ song.pos }}">Remove this</button>
        </form>
        </li>
        {% ifequal current_song_pos song.pos %}
            <p style="color:red">^^^^^^^^^^^^^^^^^^^^^</p>
        {% endifequal %}
    {% endfor %}
    </ul>
{% else %}
    <p>Playlist is empty</p>
{% endif %}

<a href="{% url 'songs' %}">Songs</a>

<span>
<form action="{% url 'control' %}" method="post">
    {% csrf_token %}
    <button name="control" value="play">Play</button>
</form>

<form action="{% url 'control' %}" method="post">
    {% csrf_token %}
    <button name="control" value="pause">Pause</button>
</form>
<form action="{% url 'control' %}" method="post">
    {% csrf_token %}
    <button name="control" value="stop">Stop</button>
</form>

<form action="{% url 'control' %}" method="post">
    {% csrf_token %}
    <button name="control" value="next">Next</button>
</form>

<form action="{% url 'control' %}" method="post">
    {% csrf_token %}
    <button name="purge" value="">Purge current playlist</button>
</form>
</span>

<form action="{% url 'post' %}" method="post">
{% csrf_token %}
    <input type="url_submit" name="url_submit" id="url_submit" value="" />
    <input type="submit" value="URL Submit" />
</form>

<form action="{% url 'post' %}" method="post">
{% csrf_token %}
    <input type="string_submit" name="string_submit" id="string_submit" value="" />
    <input type="submit" value="Auto Search" />
</form>
