{% if songs %}
    <ul>
    {% for song in songs %}
        <li> {{ song.file }} {{ song.time }}
        {% if song.origin_url %}
            <a href="http://{{ song.origin_url }}">{{ song.origin_url }}</a>
        {% endif %}
        <form action="{% url 'post' %}" method="post">
            {% csrf_token %}
            <button name="addsong" value="{{ song.file }}">Queue This</button>
        </form>
    {% endfor %}
    </ul>
{% else %}
    <p>No songs are available.</p>
{% endif %}

<a href="{% url 'index' %}"> Playlist </a>
